/** skip **/
#skip a{
    display: block;
    position: fixed;
    left: 0;
    top: -4rem;
    width: 100vw;
    text-align: center;
    line-height: 3rem;
    z-index: 9999;
    transition: top 0.2s;
    background-color: plum;
    color: #fff;
    font-weight: bold;
}
#skip a:focus,
#skip a:active {
    top: 0;
}


/** header **/
/** main - portfolio **/
/** main - about **/
/** main - skills **/
/** main - project **/
/** footer **/
