* {
    font-family: 'Orbit', sans-serif;
}

/***     header     ***/
header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
}
header div {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div .logo h1 a {
    color: #c6c6c6;
    font-weight: lighter;
}
header div .logo h1 a:hover {
    color: #fff;
    font-weight: lighter;
    text-decoration: underline;
}

/***     gnb     ***/
header div nav {
    width: 40%;
}
header div nav ul {
    display: flex;
    justify-content: space-around;
}
header div nav ul li a {
    color: #c6c6c6;
}
header div nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

/***     header scroll active     ***/
header.active {
    background-color: #fff;
}
header.active div .logo h1 a,
header.active div nav ul li a {
    color: #1e1e1e;
}
header.active div .logo h1 a:hover,
header.active div nav ul li a:hover {
    color: #000;
    text-decoration: underline;
}


/***     main     ***/
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/***     main - banner     ***/
main .banner {
    width: 100%;
    height: 85vh;
    background: url(banner.jpg);
    background-size: contain;
}
main .banner div {
    margin-top: 130px;
    text-align: center;
}
main .banner div p {
    color: #fff;
}
main .banner div p:first-child {
    font-size: 4rem;
    font-weight: bold;
}
main .banner div p:nth-child(2) {
    font-size: 3rem;
}
main .banner div hr {
    width: 3.25rem;
    border-top: 0.2rem solid white;
    margin: 1.5rem auto;
}
main .banner div p:last-child {
    font-size: 1.3rem;
}
main .banner div button {
    margin-top: 2.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

main article {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
}
main article>div {
    width: 70%;
    padding: 4rem 0;
}
main article h2{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}

/***     main - profile     ***/
main .profile .profile_list {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main .profile .profile_list>div {
    width: 30%;
    padding: 2.3rem 0 2rem 2rem;
    display: flex;
    justify-content: flex-start;
}
main .profile .profile_list>div span{
    padding: 0 2rem 0 0;
    font-size: 3.4rem;
}
main .profile .profile_list>div div{
    font-size: 1.3rem;
}
main .profile .profile_list>div div p:first-child {
    font-weight: bold
}

/***     main - project     ***/
main .project>div>div {
    padding: 4rem 0;
}
main .project>div>div .slider {
    width: 100%;
    height: 20rem;
    border: 1px solid #000;
}
main .project>div>div .slider .list_wrap ul {
    display: flex;
}
main .project>div>div .slider .list_wrap ul li {
    border: 1px solid palevioletred;
    width: 30rem;
    height: 100%;
}
main .project>div>div .slider .list_wrap ul li a img {
    width: 100%;
    
}


/***     main - contact     ***/
main .contact>div {
    /* background-color: pink; */
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
main .contact>div h2 {
    padding: 0 0 4rem 0;
}
main .contact>div .email_form {
    padding: 4rem 0;
    width: 60%;
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 0 0.5px lightgrey;
}
main .contact>div .email_form div {
    height: max-content;
    display: flex;
    margin-bottom: 1.5rem;
    flex-direction: column;
    align-items: center;
}
main .contact>div .email_form div div {
    width: 50%;
    display: flex;
    margin-bottom: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main .contact>div .email_form div label {
    font-size: 1.3rem;
    font-weight: bold;
}
main .contact>div .email_form div input {
    background-color: lightgrey;
    border: lightgrey;
    height: 1.8rem;
    width: 15rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
main .contact>div .email_form div textarea {
    background-color: lightgrey;
    border: lightgrey;
    width: 15rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
main .contact .email_form div button {
    font-size: 2rem;
    padding: 0.5rem;
}


/***     footer     ***/
footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
footer div {
    width: 70%;
}